/* load in project.gwt.xml */
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
  /*border:1px solid #FF33CC;*/
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
  /*border:1px solid #00E6FF;*/
}